<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:background-color="http://java.sun.com/JSP/Page">
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 style=";color:red;">Only a ninja, can sneak up on another ninja.</h1>
<button type="button" class="btn btn-primary">Are you a ninja?</button>

</body>

<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</html>